@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;700;800;900&display=swap")
layer(base);
@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap")
layer(base);

@import "tailwindcss";

@theme {
  --breakpoint-xs: 320px;
  --breakpoint-mm: 375px;
  --breakpoint-ml: 425px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 2560px;

  --color-primary: #34fc66;
  --font-outfit: "Outfit", "sans-serif";
  --font-urdu: "Noto Naskh Arabic";
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

* {
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* @layer utilities {
  * {
    @apply selection:bg-primary selection:text-black;
  }
  .spacing-x {
    @apply mx-6 mm:mx-10 md:mx-16 lg:mx-20 xl:mx-28;
  }
  .gradient {
    @apply to-primary bg-gradient-to-r from-blue-300 via-green-500 bg-clip-text text-transparent;
  }
  .S_Underline {
    @apply after:absolute after:-bottom-1 after:left-0 after:h-[0.1875rem] after:w-0 after:bg-slate-800 after:transition-all after:duration-500 after:content-[''];
  }
} */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* remove */
.bdr {
  border: 2px solid red;
}
.bdr2 {
  border: 2px solid green;
}
.bdr3 {
  border: 2px solid blue;
}
